# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specifics
tests/__pycache__/
src/jalgo_editor/__pycache__/


tasks.md
guide.md


example/